<html>
	<head>
		<title>
			Profile page!
		</title>
	</head>
	<body>
		Hello
		<!--
		{% account = session['account'] %}
						<label for="email">Email:</label>
						<p>{{ account.email }}</p>
						<label for="name">Name:</label>
						<p>{{ account.name }}</p>
						<label for="address">Address:</label>
						<input type="text" name="address" value="{{ account.address }}"/>
						<label for="city">City:</label>
						<input type="text" name="city" value="{{ account.city }}"/>
						<label for="phone">Phone:</label>
						<input type="text" name="phone" value="{{ account.phone }}"/>
						<label for="zip">Zip:</label>
						<input type="text" name="zip" value="{{ account.zip }}"/>
						<label for="state">State:</label>
						<select name="state">
							{% for k, v in state_choice %}
								<option value="{{ k }}" {% if k == account.state %} selected="selected" <% endif %>{{ v }}</option>
							{% endfor %}
						</select>-->
		
		
	</body>
</html>